@font-face {
    font-family: SourceSerifPro-Regular;
    src: url('fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: RobotoCondensed-Regular;
    src: url('fonts/RobotoCondensed/RobotoCondensed-Regular.ttf');
}