
body {
	font-family: SourceSerifPro-Regular;
	font-size: 12;
}
hr {
	height: 1px; 
	border: none; 
	color: #000; 
	background-color: #000;
}

#main_image_container {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
}
#main_image {
	width: 400;
}
.section-link {
	display:inline-block;
	/*width: 120px;*/
    /*height: 40px;*/
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	background-color: transparent;
	color: #000;
}
.section-link:hover {
	background-color: #2b2e36;
	color: #FFF;
}

.section-text {
	color: #000;
	font-family: Roboto-Medium;
	font-size: 16px;
	text-align: center;
	vertical-align: center;
    margin: 0px;
    color: inherit;
}

#entries-container {
	display: grid;
	grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-flow: dense;
    list-style: none;
    max-width: 1000px;
}
.entry-container {
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	grid-column: span 1;
	border-top: 1px solid black;
	display: inline-grid;
}
.entry-img {
	width: 100%;
	margin-top: 5px;
}
.entry-link {
    color: black;
    text-decoration: none;
    vertical-align: top;
    padding-top: 10px;
}
.entry-link:hover {
    text-decoration: underline;
}
.entry-title {
	color: black;
	font-family: Roboto-Bold;
	font-size: 18px;
	text-align: left;
	margin: 0px;
}
.entry-summary {
	font-family: SourceSerifPro-Regular;
	font-size: 14;
}




.article-container {
	margin-left: 35;
	margin-right: 35;
	width: 600px;
}
.article-title {
	color: black;
	font-family: SourceSerifPro-Bold;
	font-size: 28px;
	margin: 0;
	padding-top: 20;
}
.article-img {
	width: 100%;
}
.article-summary {
	font-family: SourceSerifPro-SemiBold;
	font-size: 20px;
}
.article-text {
	color: black;
	font-family: SourceSerifPro-Regular;
	font-size: 16px;
	text-align: justify;
}
