<html>
    <head>
      <title>DV</title>
      <link rel="shortcut icon" href="/static/favicon.png">
      <link rel="icon" type="image/png" href="/static/favicon-192x192.png" sizes="192x192">
      <link rel="apple-touch-icon" sizes="192x192" href="/static/favicon-192x192.png">
    </head>
    <body>
        <a href="{{ url_for('base') }}">
        <div>DIARIO VASCO MIERDER</div>
        </a>
        <hr>
        {% for rss in rss_array %}
          <div>
            <a href="{{ url_for('index', rss_id = loop.index-1) }}">
              <b>{{rss.title}}</b>
            </a>
          </div>
        {% endfor %}

        {% block content %}

        {% endblock %}
    </body>
</html>